@model IEnumerable<PersonAssets.Data.Entity.Person>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">Deleted Person List</h2>
        <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create New</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.NationalCode)</th>
                    @* <th>Actions</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        @* <td>@Html.DisplayFor(modelItem => person.FirstName)</td> *@
                        <td>@person.FirstName</td>
                        <td>@Html.DisplayFor(modelItem => person.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => person.NationalCode)</td>
                        @* <td> *@
                        @*     <a asp-action="Edit" asp-route-id="@person.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Edit</a> *@
                        @*     <a asp-action="Details" asp-route-id="@person.Id" class="btn btn-info btn-sm"><i class="bi bi-eye"></i> Details</a> *@
                        @*     <a asp-action="Delete" asp-route-id="@person.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a> *@
                        @* </td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>